body {
    transition: background-color 0.5;
    display: flex;
    justify-content: center; /*justificar al centro*/
    align-items: center; /*aliniar al centro*/
    height: 100vh; /*altura*/
    font-family: Arial, sans-serif; /*tipografia*/
    text-align: center; /*centrar el contenido*/
    flex-direction: column; /*controloar lo que hay dentro de este apartado*/
    margin: 0; /*sin margenes*/
}

#cambiarcolor {
    width: 500px;
    height: 500px;
    font-size: 24px;
    padding: 100px 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;
    align-items: center;
    align-content: center;
}