body {
    font-family: Arial, sans-serif; /*fuente de texto*/
    background-color: #f0f0f0; /*color de fondo*/
    display: flex; 
    justify-content: center; /*centrar la tareta*/
    align-items: center; /*centrar la tarjeta*/
    height: 100vh; /*centrar tarjeta vertcalmente*/
    margin: 0; /*sin margenes*/
}

.tarjeta {
    background-color: white; /*color del fondo de la tarjeta*/
    border-radius: 10px; /*bordes redondeaods*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /*sombra de la tarjeta*/
    padding: 20px; /*espacio dentro de la tarjeta*/
    width: 300px; /*ancho de la tarjeta*/
    text-align: center; /*centrar el texto dentro de la tarjeta*/
}

.foto-perfil img {
    width: 100px; /*ancho de la foto de perfil*/
    height: 100px; /*alto de la foto de perfil*/
    border-radius: 50%; /*hacer que la foto sea redonda*/
    margin-bottom: 15px; /*espacio debajo de la foto*/
}

.login {
    font-size: 1.5em; /*tamaño del texto*/
    margin-bottom: 10px; /*espacio debao del login*/
}

.description {
    font-size: 1em; /*tamaño del texto*/
    margin-bottom: 20px; /*espacio debajo de la description*/
}

.redes-sociales {
    display: flex; /*aliniarlos en fila*/
    justify-content: center; /*centrar los iconos*/
    margin: 10px; /*espacio entre los iconos*/
    margin-bottom: 20px; /*espacio debajo de los iconos*/
    text-decoration: none; /*sin subrayar los textos*/
    font-size: 24px; /*tamaño del iono*/
}

.boton {
    background-color: #007bff; /*color del fondo del boton*/
    color: white; /*color de la letra*/
    border: none; /*sin borde*/
    border-radius: 5px; /*bordes redondos*/
    padding: 30px 20px; /*espacio del boton*/
    cursor: pointer; /*cambiar la fecha por la mano*/
}

.boton:hover {
    background-color: #0056b3; /*cambiar el color cuando pasas por encima*/
}

td {
    display: flex; /*aliniar los logos*/
    justify-content: space-between; /*espacio entre os loos*/
    align-items: center; /*aliniar verticalmente al centro*/
}

.logo-redes {
    width: 24px; /*los logos sean mas pequeños*/
    height: 24px; /*la altura mas pequeña*/
    margin: 0 10px; /*espacio entre cada imagen*/
}